# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Folders
data/*
!data/.gitignore
output/*
!output/.gitignore
venv/*

# Files 
*.pdf
*.png
*.csv
*.html

# Branch
.gitlab 


# IDEs

## vscode
.vscode

## emacs
*~
\#*\#
*.elc
.\#*

