# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Folders
data/*
!data/.gitignore
output/*
!output/.gitignore
o3webapp_be/backend/venv/*


# Branch
.gitlab 


# IDEs

## vscode
.vscode

## emacs
*~
\#*\#
*.elc
.\#*

