blinker
bokeh==2.2.3
certifi
chardet
click
Flask
Flask-Cors
idna
itsdangerous
Jinja2
MarkupSafe
numpy
packaging
pampy
pandas
Pillow
pyparsing
pyPDF2
python-dateutil
pytz
PyYAML
requests
scipy
six
tornado
typing-extensions
urllib3
Werkzeug
selenium
flask-restful
